body{
  background:
    -webkit-linear-gradient(315deg, hsla(337.87, 93.35%, 43.3%, 1) 0%, hsla(337.87, 93.35%, 43.3%, 0) 70%),
    -webkit-linear-gradient(65deg, hsla(122.27, 96.2%, 46.08%, 1) 10%, hsla(122.27, 96.2%, 46.08%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(248.88, 98.84%, 41.64%, 1) 15%, hsla(248.88, 98.84%, 41.64%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(54.34, 100%, 58.67%, 1) 100%, hsla(54.34, 100%, 58.67%, 0) 70%);
  background:
    linear-gradient(135deg, hsla(337.87, 93.35%, 43.3%, 1) 0%, hsla(337.87, 93.35%, 43.3%, 0) 70%),
    linear-gradient(25deg, hsla(122.27, 96.2%, 46.08%, 1) 10%, hsla(122.27, 96.2%, 46.08%, 0) 80%),
    linear-gradient(315deg, hsla(248.88, 98.84%, 41.64%, 1) 15%, hsla(248.88, 98.84%, 41.64%, 0) 80%),
    linear-gradient(245deg, hsla(54.34, 100%, 58.67%, 1) 100%, hsla(54.34, 100%, 58.67%, 0) 70%);
  }
body{
  color: white !important;
}
.colorful{
  height: 100vh;
  width: 100vw;
}
.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    width: 300px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    left: calc(50% - 150px);
    font-weight: 600 !important;
    height: 100px;
  }
  .button.type1 {
    color: #ffffff;
  }
  .button.type1.type1::after, .button.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    height: 20%;
    border: 2px solid;
    transition: all 0.3s ease;
    border-radius: 2px;
  }
  .button.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
  }
  .button.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
  }
  .button.type1.type1:hover:after, .button.type1.type1:hover:before {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

h1{
  font-size: 100px !important;
  font-weight: 300 !important;
}
#progress{
  font-size: 30px !important;
}
.button:focus{
  outline: 0;
}

.after{
  position: relative;
    padding: 1em 1.5em;
    border: none;
    width: 300px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    left: calc(50% - 150px);
    font-weight: 600 !important;
    height: 100px;
    color: #ffffff;
  }


  .after:after, .after:before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    height: 20%;
    border: 2px solid;
    transition: all 0.3s ease;
    border-radius: 2px;
  }
  .after:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
  }
  .after:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
  }
  .after:hover:after, .after:hover:before {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }